In [1]:
__author__ = "whackadoodle"

import numpy as np
import pandas as pd

### Book Ratings Dataframe

Load the ratings of books from a CSV file into a dataframe

In [2]:
book_ratings_file = "./BX-Book-Ratings.csv"

book_ratings = pd.read_csv(book_ratings_file, sep=";", header=0, names=["user", "isbn", "rating"])

In [3]:
book_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
user      1149780 non-null int64
isbn      1149780 non-null object
rating    1149780 non-null int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [7]:
book_ratings.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

### Books Dataframe

Load the Metadata of books into a dataframe

In [11]:
books_file = "./BX-Books.csv"

books = pd.read_csv(books_file, sep=";", error_bad_lines=False, usecols=[0, 1, 2], index_col=0, names=["isbn", "title", "author"])

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

In [12]:
books.head()

,title,author
isbn,,
ISBN,Book-Title,Book-Author
0195153448,Classical Mythology,Mark P. O. Morford
0002005018,Clara Callan,Richard Bruce Wright
0060973129,Decision in Normandy,Carlo D'Este
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata